[Interface]
Address = {{ vpn_server_ip }}/24
ListenPort = {{ vpn_port }}
PrivateKey = {{ server_private_key }}

# NAT masquerading for VPN clients
PostUp = iptables -t nat -A POSTROUTING -s {{ vpn_network }} -o {{ server_interface }} -j MASQUERADE
PostDown = iptables -t nat -D POSTROUTING -s {{ vpn_network }} -o {{ server_interface }} -j MASQUERADE

# Dynamic client peers
{% for client_name, client_ip in client_ips.items() %}
{% set pubkey_var = client_name + '_pubkey' %}
{% if vars[pubkey_var] is defined and vars[pubkey_var] != 'CHANGEME' %}
# Peer: {{ client_name }}
[Peer]
PublicKey = {{ vars[pubkey_var] }}
AllowedIPs = {{ client_ip }}/32

{% endif %}
{% endfor %}
